<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ce.pintu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity_94113">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".youke.youke"/>

        <activity android:name=".wanjia.model_wanjia.wanjia"/>

        <activity android:name=".youke.youke_playgame"/>

        <activity android:name=".wanjia.login.login"/>

        <activity android:name=".wanjia.register.register"/>

        <activity android:name=".wanjia.afterlogin.after_login"/>

        <activity android:name=".wanjia.wanjia_play.wanjia_playgame"/>

        <activity android:name=".wanjia.query.zhanji"/>

        <activity android:name=".wanjia.query.paiming"/>

    </application>

    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>